{% extends "base.html" %}
{% block content %}
<div class="game-box">
    <h2>Game Code: {{game}}</h2>
    <button class="btn btn-danger" onclick="leaveGame()">Leave Game</button>
    <hr>
    <h4>Voting</h4>
    <hr>
    <div class="voting" id="voting">
        <nav>
            <label>
              <input type="radio" name=vote_card value="1" checked >
              <span>1</span> 
            </label>
            <label>
              <input type="radio" name=vote_card value="2">
              <span>2</span> 
            </label>
            <label>
              <input type="radio" name=vote_card value="3">
              <span>3</span> 
            </label>
            <label>
              <input type="radio" name=vote_card value="5">
              <span>5</span> 
            </label>
            <label>
              <input type="radio" name=vote_card value="8">
              <span>8</span> 
            </label>
            <label>
                <input type="radio" name=vote_card value="13">
                <span>13</span> 
            </label>
            <label>
                <input type="radio" name=vote_card value="21">
                <span>21</span> 
            </label>
            <label>
                <input type="radio" name=vote_card value="❓">
                <span>❓</span> 
            </label>
            <label>
                <input type="radio" name=vote_card value="☕">
                <span>☕</span> 
            </label>
        </nav>
        <button class="btn btn-success btn-vote" id="ready" onclick="readyUp()">Ready</button>
        <button class="btn btn-secondary btn-vote" id="unready" onclick="unready()">Unready</button>
    </div>
    <br>
    <div class="log" id="players_container">
        <table class="table table-striped border-top border-bottom border-1" id="players_table">
            <thead class="table-dark">
                <th scope="col">Player:</th>
                <th scope="col">Ready:</th>
                <th scope="col">Vote:</th>
            </thead>
            <tbody id="players_info"></tbody>
        </table>
    </div>
    <hr>
    <h4>Log</h4>
    <hr>
    <div class="log" id="log">
    </div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
        <button type="button" name="send" class="btn btn-primary" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>
<script type="text/javascript">
    function scrollChatToBottom() {
        var scroller = document.getElementById("log");
        scroller.scrollTop = scroller.scrollHeight;
    }

    window.onload = function() {
        scrollChatToBottom();
    }

    var socketio = io();

    const messages = document.getElementById("log");

    const createMessage = (name, msg, date) => {
        const content = 
        `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${date}
            </span>
        </div>
        `
        messages.innerHTML += content;
    }

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.date);
        scrollChatToBottom();
    })

    const createPlayerInfoRow = (name, ready, vote) => {
        var row = document.createElement("tr");
        var n = document.createElement("th");
        n.scope = "row";
        n.innerHTML = name;
        
        var r = document.createElement("td");
        if (ready) {
            r.innerHTML = "✅";
        } else{
            r.innerHTML = "❌";
        }

        var v = document.createElement("td");
        v.innerHTML = vote;

        row.appendChild(n);
        row.appendChild(r);
        row.appendChild(v);

        return row;
    }

    socketio.on("update_players", (data) => {
        var players_list = document.getElementById("players_info");

        // Remove existing data, except the table header
        while (players_list.children.length > 0) {
            players_list.removeChild(players_list.lastChild);
        }

        // Update the player info. table
        for (var i=0; i < data.length; i++) {
            players_list.appendChild(createPlayerInfoRow(data[i]["name"], data[i]["ready"], data[i]["vote"]));
        }
    })

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", {data: message.value});
        message.value = "";
    }

    const leaveGame = () => {
        socketio.disconnect();
        window.location.href = "/";
    }

    const readyUp = () => {
        const vote_vals = document.getElementsByName("vote_card");
        var val = null;
        for (var i=0; i < vote_vals.length; i++) {
            if (vote_vals[i].checked) {
                val = vote_vals[i].value;
                console.log(val);
            }
        }
        socketio.emit("ready_update", {is_ready: true, vote: val});
    }

    const unready = () => {
        socketio.emit("ready_update", {is_ready: false, vote: null});
    }
</script>
{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.date}}")
    </script>
{% endfor %}
{% endblock %}